html
  head
    meta(charset='UTF-8')
    base(href='/')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stypes/login.css')
  body
    block content